<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PaymentTest0412</display-name>

	<!-- 필터 설정 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>jin.payment.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- 필터 매핑명 설정 -->
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 결제 서블릿 -->
	<servlet>
		<servlet-name>PaymentFrontController</servlet-name>
		<servlet-class>jin.payment.frontcontroller.PaymentDispatcherServlet</servlet-class>
	</servlet>


	<!-- 결제 서블릿 매핑명 -->
	<servlet-mapping>
		<servlet-name>PaymentFrontController</servlet-name>
		<url-pattern>*.pay</url-pattern>
	</servlet-mapping>


	<!-- 시작 페이지 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
